$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$grey: #f6f7f9;
$white-light: #f2f2f2;
$mud: #4b4b4b;
$dark: #212121;
$black: #000000;

$red-gradient: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
$grey-gradient: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
$blue-gradient: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
$pink-gradient: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
$green-gradient: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
$gold-gradient: linear-gradient(
  269.46deg,
  #b57e10 -7.62%,
  #b57e10 13.9%,
  #f9df7b 28.5%,
  #fff3a6 45.42%,
  #f9df7b 62.17%,
  #b57e10 81.71%
);
$yellow-gradient: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
