.parallax {
  position: relative;
  height: 727px;

  &__pikachy {
    position: absolute;
    left: 42px;
    top: 172px;
    transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
    z-index: 1;
  }

  &__big-cloud {
    position: absolute;
    left: 374px;
    top: 128px;
  }

  &__small-cloud {
    position: absolute;
    left: 32px;
    top: 454px;
  }

  &__big-pokeball {
    position: absolute;
    left: 572px;
    top: 108px;
    z-index: 1;
  }

  &__small-pokeball {
    position: absolute;
    left: 70px;
    top: 130px;
  }
}
