@import '../../style/base/variables';

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, #f2b807 100%);
}
