@import '../../style/base/variables';

.pokedex {
  background-color: $white;
  height: 100vh;

  &__title {
    padding-top: 73px;
    text-align: center;
    letter-spacing: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
  }
}
